*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* fancy css for js*/
@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.hidden {
  opacity: 0;
}
/* end fancy css*/

main {
  padding: 0 13%;
  max-width: 1450px;
  margin: 0 auto;
  width: 56%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* navigation */
nav ul {
  float: right;
}

nav li {
  float: left;
}

nav a {
  display: inline-block;
  padding: 8px;
}

nav > ul > li > a {
  padding-top: 15px;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}

/***--------------------***/
/***------- Icons ------***/
/***--------------------***/

.wrapper {
  height: 100%;
  width: 100%;
}

/* ----- Header -----*/
.nav a {
  color: #000;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: 0px;
}

.nav li {
  display: inline-block;
  opacity: 0.2;
  visibility: hidden;
  -webkit-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
  transition: opacity 0.7s, visibility 0.7s, -webkit-transform 0.7s;
  transition: opacity 0.7s, visibility 0.7s, transform 0.7s;
  transition: opacity 0.7s, visibility 0.7s, transform 0.7s,
    -webkit-transform 0.7s;
}

.nav li.animated-in {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nav li:last-child {
  transition-delay: 0.4s;
}

.nav li:nth-last-child(1) {
  transition-delay: 0.45s;
}

.nav li:nth-last-child(2) {
  transition-delay: 0.55s;
}

.nav li:nth-last-child(3) {
  transition-delay: 0.65s;
}

.nav li:nth-last-child(4) {
  transition-delay: 0.75s;
}

.nav li + li {
  margin-left: 46px;
}

.shell {
  max-width: 1190px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

/* header */
.header {
  display: inline;
  background: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  visibility: hidden;
}

.header__nav {
  display: inline;
  padding: 60px 53px 45px 0;
  text-align: right;
  transition: padding-top 0.3s, padding-bottom 0.3s, opacity 0.5s,
    visibility 0.5s, margin-top 0.3s;
  padding-top: 35px;
  padding-bottom: 25px;
}

.logo {
  margin-top: 0;
}

@media (max-width: 414px) {
  .header__nav {
    padding: 0 20px 0;
    margin-top: 0x;
    visibility: hidden;
  }

  .logo {
    margin-top: 0;
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .header {
    padding: 20px 0;
    transition: padding 0.3s;
  }

  .header__nav {
    padding-top: 0;
    margin-top: 0;
  }

  .nav a {
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Logo -----------
------------------------------------------------------
----------------------------------------------------*/
.logo {
  float: left;
  background-image: url(../css/images/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 21px;
  height: 32px;
  display: inline;
  font-size: 0;
  line-height: 0;
  position: relative;
}

.logo.animated-in {
  opacity: 1;
  visibility: visible;
}

/* ------------------------------------------------------------ *\
	Keyframes
\* ------------------------------------------------------------ */

@-webkit-keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

/* Standard syntax */

@keyframes bounce {
  0% {
    top: 0px;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0px;
  }
}

.burger-menu {
  display: none;
  width: 20px;
  position: relative;
  float: right;
  padding-top: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 31px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 1s;
  transition-delay: 0.25s;
}

.burger-menu.animated-in {
  opacity: 1;
  visibility: visible;
}

.active span:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.active span:nth-child(2) {
  opacity: 0;
}

.active span:nth-child(3) {
  top: -7px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
}

.burger-menu span {
  position: relative;
  display: block;
  height: 3px;
  top: 0;
  background: #000;
  transition: 0.3s;
}

.burger-menu span + span {
  margin-top: 4px;
}

/***---------------------------***/
/****------- typography ------****/
/***---------------------------***/

/* link typography */
a {
  color: inherit;
  text-decoration: none;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 80px;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 45px;
}

h3 {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bolder;
  letter-spacing: 0.01rem;
  margin: 70px 0 15px 0;
}

h4 {
  font-size: 36px;
  letter-spacing: -0.055em;
}

.h4 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-top: 20px;
  padding-bottom: 10px;
}

.design-role {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.07rem;
  padding: 4px 1px 0 0;
}

p {
  margin-bottom: 15px;
}

li {
  font-size: 18px;
}

/* common text-styles typography*/
.caseStudy-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.04rem;
  line-height: 24px;
}

.desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.025rem;
  line-height: 33px;
}

.label {
  color: #979797;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 40px;
  letter-spacing: 0.07rem;
  margin-top: 25px;
}

.uppercase {
  text-transform: uppercase;
}

/***------------------------------------***/
/***--------- Case Study specific --------***/
/***------------------------------------***/

/* typography */
a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 15px 40px;
  margin-top: 40px;
  transition: background 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn--pink {
  background: #f07e81;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.white-text {
  color: #ffffff;
}

.section__btn {
  margin-left: -4px;
}

#viewusersurveybtn {
  margin-top: 0;
  margin-bottom: 25px;
}

/***-----------------------------------------------------------***/
/***--------- casestudy specific  - ordered by section --------***/
/***-----------------------------------------------------------***/

/* common */

.align-top {
  vertical-align: top;
}

/* grid */

.half {
  display: inline-block;
  width: 39%;
}

.small-third {
  display: inline-block;
  width: 20%;
  vertical-align: top;
  text-align: left;
}
.large-third {
  display: inline-block;
  vertical-align: top;
  margin: 0 12% 0 7%;
  text-align: left;
}

.section-label {
  float: left;
  width: 16%;
}

.textbox {
  display: inline-block;
  width: 100%;
}

.margin-top {
  margin-top: 16px;
}

/* header */
.center {
  text-align: center;
}

/* challenges insights and solutions */
.num-list {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.04rem;
  line-height: normal;
  font-size: 18px;
  margin-bottom: auto;
}
.num-list li {
  padding: 5px 0;
}

/* Role deliverables and tools */
.third {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  margin: 20px;
}

.med-text {
  font-family: "PaulGrotesk-Medium";
  line-height: 25px;
}

/* user research */
.percent-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.05rem;
  line-height: 20px;
  text-align: left;
  width: 80%;
}

.user-research {
  margin-left: 10%;
}

h2.user-research {
  margin-top: 25px;
}

.third {
  margin: 0 auto;
  width: 30%;
}

/* persona */
.persona {
  padding: 0 5% 0 0;
}

.persona-caseStudy-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.01rem;
  line-height: 30px;
}

.personas .half {
  width: 50%;
}

/* compentive analysis */

/* user flows and user stories */
#userflowsketchimage {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* branding */
.branding {
  letter-spacing: 0.05em;
  margin-bottom: 50px;
}

/*product features*/
.container {
  padding: 30px 60px 60px 60px;
}
.container__image {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin-top: 20px;
}
.container__text {
  margin: 15px;
  margin-top: 65px;
  display: inline-block;
  width: 46%;
}
@media (max-width: 620px) {
  .container__text {
    width: 100%;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

/* prototypes */
.prototypes {
  display: inline;
}

.prototypes a p {
  color: #f07e81;
  font-family: "Montserrat", sans-serif;
}

.prototypes a:hover p {
  color: #f0cf7e;
}

.half > a {
  margin: 0 auto;
}

.desktop-gif {
  width: 50%;
}

/* conclusion */
.large-textbox {
  margin: 0 20%;
  width: 60%;
}

/* ------------------------------------------------
-------------------------------------------------
-------------------------- Socials -----------
------------------------------------------------------
----------------------------------------------------*/
.socials {
  margin-bottom: 49px;
}

.socials li {
  display: inline-block;
  position: relative;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}
.socials i {
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
}
.socials li + li {
  margin-left: 18px;
}
.socials li:nth-last-child(1) {
  transition-delay: 1s;
}
.socials li:nth-last-child(2) {
  transition-delay: 1.2s;
}
.socials li:nth-last-child(3) {
  transition-delay: 1.4s;
}
.socials li:nth-last-child(4) {
  transition-delay: 1.6s;
}
.socials li:nth-last-child(5) {
  transition-delay: 1.8;
}
.socials li:nth-last-child(6) {
  transition-delay: 2s;
}

.ico-cat {
  background-image: url(css/images/ico-cat.png);
  background-position: 95% 42.10526315789473%;
  background-size: 372.7272727272727% 359.09090909090907%;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.ico-linkedin {
  background-image: url(css/images/ico-linkedin.png);
  background-position: 43.333333333333336% 98.27586206896551%;
  background-size: 372.7272727272727% 376.1904761904762%;
  width: 28px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

.ico-mail {
  background-image: url(css/images/ico-mail.png);
  background-position: 100% 0%;
  background-size: 328% 395%;
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .ico-mail {
    background-image: url(css/images/ico-mail.png);
    background-position: 100% 0%;
    background-size: 328% 395%;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }

  .ico-linkedin {
    background-image: url(css/images/ico-linkedin);
    background-position: 43.333333333333336% 98.27586206896551%;
    background-size: 372.7272727272727% 376.1904761904762%;
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
  .ico-mail {
    background-image: url(css/images/ico-mail.png);
    background-position: 100% 0%;
    background-size: 328% 395%;
    width: 26px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
  }
}
/***--------------------***/
/***------ Footer ------***/
/***--------------------***/

.footer {
  background: url(images2/blackpoly.jpg);
  color: #000;
  text-align: center;
  padding: 18px 0 20px;
}

.footer-title-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  transition-delay: 0.3s;
  margin-top: 15px;
  margin-bottom: -4px;
}

.footer p {
  font-size: 18px;
  line-height: 2.4;
  margin-bottom: 1px;
  color: #000;
  letter-spacing: -0.025em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
  transition: opacity 0.5s, visibility 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
  transition: opacity 0.5s, visibility 0.5s, transform 0.5s,
    -webkit-transform 0.5s;
}

.footer p:nth-of-type(1) {
  transition-delay: 0.7s;
}

.footer p:nth-of-type(2) {
  transition-delay: 0.9s;
}

.footer a {
  color: #000;
  font-weight: 400;
}

.footer p a {
  text-decoration: underline;
}

.footer.animated-in .footer__link i,
.footer.animated-in h4,
.footer.animated-in p,
.footer.animated-in .socials li {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 100%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.1s, visibility 0.1s;
  }

  .nav.open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav ul {
    display: block;
    margin: 0 15px;
  }

  .nav li {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
  }

  .nav li + li {
    margin-left: 0;
    margin-top: 11px;
  }

  .logo {
    margin-top: 0;
    position: static;
    margin: 0 auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .header {
    padding: 18px 0;
    transition: padding 0.3s;
  }

  .header__nav {
    padding: 0 20px 0;
  }

  .burger-menu {
    display: block;
  }

  .container {
    padding: 10px 30px 30px 30px;
  }

  .container__text {
    margin: 15px;
    display: inline-block;
    width: 100%;
  }

  .container__image {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }

  .socials i {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .footer {
    padding: 23px 44px 30px;
  }
  .footer h4 {
    margin-bottom: 5px;
  }
  .footer p {
    font-size: 17px;
    display: inline;
    line-height: 1.3;
  }

  .footer p:nth-of-type(1),
  .footer p:nth-of-type(2) {
    transition-delay: 0.5s;
  }
}

@media (max-width: 400px) {
  .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.colored {
  background-color: #f3f4fa;
  padding: 20px 30px 30px 30px;
}

@media screen and (max-width: 1080px) {
  main {
    max-width: 90%;
    padding: 0 10%;
  }

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 0.01rem;
    line-height: 60px;
    margin: 30px 0 15px 0;
  }

  .half .caseStudy-text {
    font-size: 16px;
    padding: 0 20px;
  }

  .half h4 {
    padding: 0 20px;
  }

  .about-social-nav {
    width: 100%;
  }

  .section-label {
    width: 12%;
  }

  .margin-left {
    margin-left: 12%;
  }

  .small-third {
    width: 28%;
    text-align: center;
  }

  .large-third {
    width: 28%;
    margin: 0 4% 0 4%;
    text-align: center;
  }
  .large-third .right,
  .large-third .left {
    float: none;
  }

  .desc {
    letter-spacing: 0.05rem;
  }

  .persona-l {
    padding: 0 25px 0 5%;
  }

  .persona-r {
    padding: 0 5% 0 25px;
  }

  .personas .half .caseStudy-text {
    padding-left: 0;
  }

  .textbox {
    width: 80%;
  }

  footer .main {
    width: 95%;
    margin: 0 7%;
  }

  footer.large-footer > .main {
    width: 90%;
  }
}
/**********************************/
/******* tablet view **************/
/**********************************/

@media screen and (max-width: 950px) {
  main {
    padding: 0 5%;
    max-width: 90%;
    margin: 0 auto;
  }

  section {
    margin: 50px 0;
  }

  .colored {
    padding: 7%;
  }

  .prototypes {
    margin: 0;
  }

  .margin-left {
    margin-left: 10%;
  }

  .textbox {
    width: 80%;
    padding-top: 20px;
  }

  /******************************/
  /***** tab - nav ***********/
  /******************************/

  nav a {
    display: inline-block;
  }

  nav > ul > li > a {
    font-size: 17px;
    padding-top: 15px;
  }

  /* typography */
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 30px;
    line-height: 40px;
  }

  h3 {
    font-size: 20px;
    letter-spacing: 0.01rem;
    margin: 30px 0 10px 0;
    padding-bottom: 10px;
    line-height: 30px;
  }

  h4 {
    font-size: 25px;
    margin: 10px 0;
  }

  p.desc {
    margin-bottom: 0;
  }

  .caseStudy-text {
    font-size: 18px;
    letter-spacing: 0.04rem;
    line-height: 24px;
  }

  .desc {
    font-size: 18px;
    line-height: 25px;
  }

  .label {
    font-size: 30px;
    margin: 0 auto;
  }

  /***---------------------------------***/
  /***------ case study - tablet ------***/
  /***---------------------------------***/

  .section-label,
  .textbox {
    /* display: block; */
    float: none;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
  }

  /* end lines */
  /* challenges insights and solutions */
  .num-list {
    font-family: "Lato", sans-serif;
    letter-spacing: 0.03rem;
    line-height: 24px;
    font-size: 16px;
  }
  .num-list li {
    padding: 5px 0;
  }

  /* Role deliverables and tools */
  .med-text {
    font-family: "Lato", sans-serif;
    line-height: 25px;
  }

  /* assumptions */
  /* user research */
  .percent-desc {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    letter-spacing: 0.05rem;
    line-height: 15px;
    text-align: left;
    width: 90%;
  }

  .user-research {
    margin-left: 10%;
  }

  .user-research .third {
    margin-left: 0;
    width: 27%;
  }
  /* persona */
  .persona {
    padding: 0 5%;
  }

  .caseStudy-text {
    font-size: 18px;
    padding: 0;
  }

  .personas h3 {
    line-height: 30px;
  }

  /* compentive analysis */
  /* user flows and user stories */
  /* branding */
  .branding {
    letter-spacing: 0.05em;
    margin-bottom: 20px;
  }

  /*product features*/
  /* prototypes */
  /* conclusion */
  .large-textbox {
    margin: 0 auto;
    width: 80%;
  }

  /***--------------------------***/
  /***------tab Footer ------***/
  /***--------------------------***/

  footer {
    height: 60px;
    text-align: center;
    margin-top: 35px;
  }

  footer > .main {
    width: 90%;
    margin: 0 5%;
  }

  footer nav {
    padding: 6px 5%;
  }

  footer > div > p {
    width: 40%;
  }
}

/*Ipad*/
@media screen and (max-width: 670px) {
  h3 {
    line-height: 40px;
  }
  .textbox,
  .section-label,
  .half {
    width: 100%;
  }

  .half {
    margin: 15px 0;
  }

  .half h4 {
    padding: 0;
  }

  .mobile-half {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 48%;
  }

  .third {
    margin: 30px 0;
  }

  .top {
    padding-top: 50px;
  }

  /*About - name on new line*/
  /*personas*/
  .personas .half {
    float: none;
    width: 100%;
  }

  .small-third,
  .large-third {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .user-research .third {
    width: 49%;
    text-align: left;
  }

  footer {
    height: 80px;
    text-align: center;
    margin-top: 35px;
    padding-top: 20px;
  }

  footer > div > nav {
    display: none;
  }

  footer i {
    font-size: 30px;
  }
  /* footer call to action*/
  footer > div > p {
    display: block;
    padding: 0;
    width: 100%;
  }
}
/**********************************/
/******* Mobile view **************/
/**********************************/
@media screen and (max-width: 500px) {
  /* For mobile phones:  organized- most used/common - nav - type - -pages by section*/

  main {
    padding: 0;
    margin: 0 auto;
    width: 90%;
  }

  body {
    max-width: 100%;
  }

  header {
    margin: 0 6% 30px 6%;
  }

  section {
    margin: 40px 0;
  }

  .off {
    display: none;
  }

  .mobile-full {
    display: block;
    width: 100%;
  }

  /******************************/
  /***** mobile - nav ***********/
  /******************************/
  nav .none {
    display: block;
  }
}

nav .none.off {
  opacity: 0;
}

/*
     * Make this absolute positioned
     * at the top left of the screen
     */
/* spacing */
.half {
  display: block;
  width: 100%;
}
.half h4,
.half p {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.third {
  margin: 30px 0;
}
/* typography */

a.off {
  display: none;
}
h1 {
  font-size: 56px;
}
h3 {
  margin: 30px 0 0px 0;
}
.third.mobile-half {
  text-align: left;
}

.textbox {
  padding-top: 0;
}
.caseStudy-text {
  font-size: 18px;
}
/* text for homepage only */
.swot-analysis {
  display: inline-block;
}
.link-container {
  text-align: center;
}
.num-list {
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.04rem;
}
.percent-desc {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  letter-spacing: 0.04rem;
  line-height: 18px;
}
.persona-caseStudy-text {
  line-height: 25px;
}
.half .caseStudy-text .persona-r {
  padding: 0px;
}
/* end lines */ /* challenges insights and solutions */ /* Role deliverables and tools */
/* moodboard */
/* assumptions */ /* user research */
h2.user-research {
  margin-top: 10px;
  margin-bottom: 20px;
}
.user-research {
  margin-left: 5%;
}
.user-research h3 {
  margin-top: 0;
}
.user-research .third {
  margin-top: 10px;
  width: 49%;
}
/* persona */
.personas {
  margin: 0 5%;
}
.persona {
  padding: 0;
}
/* compentive analysis */
/* user flows and user stories */
/* branding */
/* color pallete */
.color-palette .caseStudy-text,
.color-palette .half h4,
.fonts .half h4,
.fonts .half .caseStudy-text {
  padding: 0 0 15px 0;
}

/* prototypes */ /* conclusion */
.large-textbox {
  margin: 0;
  width: 100%;
}
/***--------------------------***/
/***------mobile Footer ------***/
/***--------------------------***/

/* social media icons*/
footer > div > p {
  display: block;
  padding: 0;
  width: 100%;
}
